*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Topbar */

#topbar{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
    height: 40px;
    background-color: black;
    
}

#topbar > div:nth-child(1){
    /* border: 1px solid rgb(14, 41, 32); */
    display: flex;
    width: 40%;
    margin: 0px 16px 0px 16px;
    justify-content: space-evenly;


}


#topbar > div:nth-child(2){
    /* border: 1px solid maroon; */
    width: 30%;
    display: flex;
    margin: 0px 16px 0px 16px;
    justify-content: space-evenly;

   
}

#topbar > div:nth-child(1)>div>a{
    float: left;
    text-decoration: none;
    padding: 10px;
 
    color: white;
    font-size: 13px;
}

#topbar > div:nth-child(2)> div > a{
    float: left;
    text-decoration: none;
    padding: 10px;
 
    color: white;
    font-size: 13px;
}
#top-font{
    font-size: 16px;
}

/* navbar */

#Navbar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: #f7f8f7 ;
    /* position: relative; */
}

#Navbar> div:nth-child(1){
    display: flex;
}

#Navbar> div:nth-child(1) ul{
    /* border: 3px solid green; */
    width: 30%;
    display: flex;
    justify-content: space-between;
    
    
}

#Navbar> div:nth-child(1){
    margin-left: 3%;
} 

#Navbar> div:nth-child(1) ul li{
    list-style: none;
}

#Navbar> div:nth-child(2){
    /* border: 3px solid  navy; */
    width: 19%;
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}

#Navbar> div > img{
    width: 10%;
    height: 90%;
    padding: 19px 19px 19px 0px;

}

#Navbar> div:nth-child(1) ul>li>a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    /* float: left; */
    padding: 22px 15px;
    display: block;
    color: #0c0c18;
    
}

#Navbar> div:nth-child(2) >a{
    font-size: 14px; 
    font-weight: bold;
    text-decoration: none;
    /* float: left; */
    padding: 22px 2px;
    display: block;
    color: #0c0c18;
    
}

#Navbar> div:nth-child(2) >a>i{
    font-size: 22px;
}

#navbar-search{
    /* border: 1px solid red; */
    width: 40%;
    margin: 10px;
    display: flex;
    background-color: #ecedeb;
   
}
#Navbar> div >div > input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color:#ecedeb;
}

#Navbar> div >div > i{
    padding: 14px;
}

.megamenu{
    /* border: 3px solid red; */
    position: absolute;
    opacity: 0;
    visibility: hidden;
    /* transition: 1s; */
    top: 100%;
    width: 100%;
    left: 0px;
    height: auto;
    padding: 30px;
    z-index: 5;
    overflow: hidden;
}

#Navbar> div:nth-child(1) ul li:hover .megamenu{
    background-color: white;
    opacity: 1;
    visibility: visible;
}

#Navbar> div:nth-child(1)> ul> li> a:hover{
    color: #303ab2;
}

#Navbar> div:nth-child(1) ul li:hover{
    background-color: white; 
}

#Navbar> div:nth-child(2)>a:hover{
    background-color: white;
    color: #303ab2;
}
#Navbar> div:nth-child(2)>a{
    padding-left: 10px;
}

#Navbar > div:nth-child(1) > ul > li > .megamenu >.megamenucontent ul > li>a{
    /* width: fit-content; */
    /* border: 2px solid rgb(5, 5, 75); */
    /* color: rgb(160, 19, 143); */
    width: fit-content;
    padding: 0px;
    font-size: 12px;
    margin: 0px;
    padding: 3px;
    color: grey;
}

#Navbar > div:nth-child(1) > ul > li > .megamenu >.megamenucontent ul > li>a:hover{
    
    color: #303ab2;
    font-size: 13px;
}

.megamenucontent ul > h3:hover{
    color: #303ab2;
    font-size: 15px;
}

.megamenucontent > ul{
    display: flex;
    height: auto;
    flex-direction: column;
    /* border: 1px solid rgb(34, 14, 14); */
    margin: 0;
}

.megamenucontent > ul>li{
    /* border: 3px solid mediumturquoise; */
    padding: 0;
    margin: 0;
}

.megamenucontent{
    /* border: 1px solid aqua; */
    display: flex;
    height: auto;
    padding: 0;
    margin: 0;
}
.hid{
    visibility: hidden;
}

.head-2{
    margin-top: 16px;
}
/* name it by combinator */
#Navbar h3{
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* ***************************************************************** */

/* heading top */

h1{
    margin: 1.5%;
}

#shopfor{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: 60px;
    width: 89%;
    margin: 1.5%;
    height: 60px;
    margin-top: 40px;
    gap: 12px;
}

#shopfor > div{
    border: 1px solid #83817da0;
    height: 100%;
    display: flex;
    padding: 7px;
}

#shopfor > div:hover{
    border: 1px solid #4660c5;
}

#shopfor > div:nth-child(1){
    border: none;
    color: #83817d;
    padding: 7px 7px 7px 0px;
}

#shopfor > div > img{
    height: 100%;
}
#shopfor > div > h4{
    padding: 11px;
    font-size: 13px;
}

#shopfor h3{
    padding: 11px 11px 11px 0px ;
}

/* filter div */

#filter-div{
    /* border: 2px solid black; */
    background-color: #f7f8f7 ;
    padding: 4px;
}

#filter-div > div:nth-child(1){
    /* border: 2px solid red; */
    display: flex;
    margin: 1.5% 1.5%;
    /* gap: 18px; */
    flex-wrap: wrap;
    justify-content: space-between;
}

#filter-div > div:nth-child(1)> select{
    display: block;
    /* border: 2px solid green; */
    padding: 7px 64px;
    
}
/* #filter-div > div:nth-child(1)> select:nth-child(1){
    margin-left: 3%;
} */

#filter-div > div:nth-child(2){
    /* border: 2px solid red; */
    margin: 1.5% 73% 1.5% 1.5% ;
    display: flex;
    justify-content: space-between;
}

#filter-div > div:nth-child(2) > div{
    /* border: 2px solid maroon; */
    width: 43%;
    height: 100%;
    color: blue;
}

#filter-div > div:nth-child(2) > div:nth-child(1){
    background-color: #83817d5e;
    border-radius: 5px;
    color: rgb(35, 33, 33);
    padding: 5px;
}

/* sort Div */

#sort-parent-div{
    /* border: 2px solid mediumslateblue; */
    display: flex;
    justify-content: space-between;
    margin: 1% 1.5%;
}

#sort-parent-div > h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #575451;
}

#sort-parent-div > div{
    /* border: 2px solid red; */
    width: 25%;
    display: flex;
    justify-content: space-between;
}

#sort-parent-div > div >select{
    padding: 10px;
    width: 78%;
    border: 1px solid #605d5a55;
}

#sort-parent-div > div >h4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #575451;
}


#cards-grid{
    margin: 1.5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: auto;
}

#cards-grid p{
    height: 40px;
}

#cards-grid > div{
    padding: 10px 0px;
}

#cards-grid > div > img{
    width: 100%;
}

#cards-grid > div > div{
    display: flex;
}

/* #cards-grid > div > div > h3{
    
} */

#cards-grid > div > div > h4{
    margin-left: 6px;
    margin-top: 2px;
    color: #a9aeac;
}

#cards-grid> div{
    position: relative;
    /* z-index: -1; */
}

#heart{
    position: absolute;
    top: 5%;
    right: 5%;
    /* border: 2px solid red; */
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    background-color: white;
}

#onlineOnly{
    /* border: 1px solid red; */
    position: absolute;
    top: 55%;
    left: 5%;
    padding: 4px;
    background-color: white;
}

#off{
    /* border: 1px solid red; */
    position: relative;
    top: -11%;
    left: 73%;
    width: fit-content;
    padding: 4px;
    background-color: white;
}

.addtoBasket{
    padding: 10px 30px;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: #a9aee183;
    border-radius: 20px;
    border: none;
}

.addtoBasket:hover{
    background-color: #303ab2;
    color: white;
}


/* loadmore */

#loadmore{
    /* border: 2px solid red; */
    margin: auto;
    width: fit-content;
    text-align: center;
    margin-top: 40px;
}

#loadmore > button{
    width: 260px;
    padding: 10px;
    color: #303ab2;
    border: 1px solid #303ab2;
    background-color: white;
}

/* Signup form */
form{
    /* border: 1px solid red; */
    width: fit-content;
    margin: auto;
    width: 60%;
    display: none;
}

form > div{
    padding: 40px 120px;
}

form > div p:nth-child(2){
    color: #9aa0a3;
    margin-bottom: 12px;
}

form > div p:nth-child(5){
    color: #575451;
}

form > div > input{
    display: block;
    padding: 10px;
    width: 100%;
    margin: 10px 0px;
}

form > div > input[type=submit]{
    padding: 15px 40px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-left: 0%;
    background-color: #303ab2;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    
}

form > div > input[type=submit]:hover{
    background-color: #465fc5bd;
}

form h1{
 
    margin: auto;
    margin-bottom: 20px;
}

form > h3{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#otppage{
    position: fixed;
    top: 16%;
    left: 22.6%;
    z-index: 90;
    margin: auto;
    width: 60%;
    background-color: white;
}

#otppage > div{
    padding: 110px 120px;
}

#otppage> div > h3{
    margin-top: 20px;
}

#otppage> div > p{
    margin-top: 15px;
}

#otppage > div > button{
    background-color: #465fc5;
    border: 1px solid rgba(0, 0, 0, 0.356);
    padding: 6px 20px;
    color: white;
    border-radius: 30px;
    

}

#otppage > div > button:hover{
    background-color: #465fc5bd;
    color: white;
}

#otppage span{
    color: blue;
}

#otppage > h3:hover{
    color: red;
    font-size: 30px;
}

#signup{
    display: block;
    position: fixed;
    z-index: 20;
    background-color: white;
    left: 290px;
    overflow: auto;
}

#signup button:hover{
    background-color: #465fc570;
    border: none;
}

#signupcut:hover{
    color: red;
}

/* .signuprem{
    display: none;
} */











/* STICKY NAVBAR */
.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 6;
  }


/* Footer **************************************************************/
/* 
subscribe download */

#subs-download{
    /* border: 1px solid red; */
   
    margin-top: 40px;
    display: flex;
    padding: 3% 0px;
    margin: 1.5%;
    justify-content: space-between;
}

#subscribe{
    /* border: 1px solid blue; */
    width: 42%;
}

#download{
    /* border: 1px solid maroon; */
    width: 30%;
    margin-right: 120px;
}

#subs-download p{
    color: grey;
    margin-bottom: 35px;
}

#subs-download p+div{
    /* border: 1px solid green; */
    height: 55px;
    display: flex;
    justify-content: space-between;
}

#subs-download p+div > input{
    height: 100%;
    width: 65%;
    background-color: #f7f8f7;
    padding: 10px;
    font-size: 15px;
    color: grey;
}

/* #subs-download p+div > button
 */

 #subscribe > div > button{
    height: 100%;
    width: 35%;
    background-color: #101726 ;
    color: white;
    font-size: 16px;
 }

 /* download */

 #subs-download h2{
    color: #282121;
 }

 #download > p+div > button{
    padding: 7px 10px;
    width:45%;
    color: white;
    background-color: #101726 ;
 }

 #download > div > button > span{
    font-size: 17px;
 }

 #download > div > button > div{
    float: left;
    height: 100%;
}

 #download > div > button >div > i{
    font-size: 35px;
    
 }

 /* Footer 1 links */

 #footer-1{
    /* border: 3px solid navy; */
    display: flex;
    padding: 1.5%;
    flex-wrap: wrap;
 }

 #footer-1> div{
    flex-basis: 20%;
 }

 #footer-1> div > ul{
    list-style: none;
 }

 #footer-1> div > ul >li,h4{
    padding: 5px;
 }

 #footer-1> div > ul >li > a{
    text-decoration: none;
    color: #83817d;
    font-size: 14px;
    
 }

 #footer-1 h4{
    margin-top: 20px;
 }

 hr{
    margin: 0% 1.5%;
    opacity: 0.2;
 }

 /* contact  */

 #contact{
    /* border: 1px solid red; */
    margin: 1.5% 1.5%;
    display: flex;
    justify-content: space-between;
 }

 #contact > div:nth-child(1){
    /* border: 1px solid darkgreen; */
    display: flex;
    width: 68%;
    justify-content: space-between;
 }

 .circular-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 19px;
    text-align: center;
    float: left;
    margin: 3px 5px 0px 10px;
    border: 1px solid #9aa0a3;
 }

 #contact > div:nth-child(1) > div{
    display: flex;
    /* border: 2px solid red; */
 }

.circular-logo+div>p{
    margin-top: 5px;
}

.circular-logo+div>p:first-child{
    color: #9aa0a3;
}

.circular-logo+div>p>a{
    text-decoration: none;
    color: #0c0c18;
}

#contact > div:nth-child(2) > div{
    border: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 22px;
}

#contact > div:nth-child(2) > div:hover{
    background-color:#9aa0a355;
}

#footer-end{
    /* border: 1px solid black; */
    margin: 2.2% 60% 0% 1.5%;
    display: flex;
    justify-content: space-between;
}
#footer-end > div > img{
    /* border: 3px solid red; */
    width: 85%;
    height: 100%;
    padding: 18px;
}
#footer-end p{
    display: inline;
    color: #9aa0a3;
    font-size: 14px;
}

#footer-end>div:nth-child(1){
    /* border: 2px solid green; */
    width: 30%;
}

#footer-end>div:nth-child(2){
    /* border: 2px solid maroon; */
    width: 59%;
    padding: 12px 0px;
}

#footer-end a{
    text-decoration: none;
    color: #9aa0a3;
}

/* slider */

#selector{
    /* border: 2px solid red; */
    height: 7px;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


  